footer {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: 50px;
}

.social {
    font-size: 2rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #00b1bb;
}

.footer_menu {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: black;

    li{
        list-style: none;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 1rem;
        font-size: .8rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: white;
        }
    }
}