nav {
    display: block;
    box-shadow:0px 1px 3px black;
    height: 270px;
    width: 100%;
    padding: 30px 0;

    .logo {
        text-align: center;

        img{
            height: 150px;
            width: auto;
            margin-bottom: 35px;
        }
    }

    .menu {
        text-align: center;

        li{
            list-style: none;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

a {
    text-decoration: none;
    color: black;
}